<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" >

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    
    <logger name="com.korea.mall" level="debug" appender-ref="console" /> 
    <!-- mybatis query log setting -->
	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="debug" />
	<logger name="jdbc.sqltiming" level="debug" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="debug" />
	<logger name="jdbc.connection" level="OFF" />

    <!-- Root Logger -->
    <root level="debug">
        <appender-ref ref="console" />
    </root>
</configuration>